<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body class="error-body">
    <%- include('./partials/nav.ejs') %>
  <div class="not-found-container">
    <div class="not-found-content">
      <h1>404</h1>
      <h2>page not found :(</h2>
      <img src="creeper-404(2).png" class="error-image" id="404-image">

    </div>
  </div>
</body>

</html>