<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="items-container">
      <div class="items-list">
        <h2>Biomes</h2>
        <details class="biome-toggle">
          <summary class="biome-type">Snowy biomes</summary>
          <p class="biome">Snowy Plains</p>
          <p class="biome">Ice Spikes</p>
          <p class="biome">Snowy Taiga</p>
          <p class="biome">Snowy Beach</p>
          <p class="biome">Grove</p>
          <p class="biome">Snowy Slopes</p>
          <p class="biome">Jagged Peaks</p>
          <p class="biome">Frozen Peaks</p>
        </details>
        <details class="biome-toggle">
          <summary class="biome-type">Cold biomes</summary>
          <p class="biome">Grove</p>
          <p class="biome">Windswept Hills</p>
          <p class="biome">Windswept Gravelly Hills</p>
          <p class="biome">Windswept Forest</p>
          <p class="biome">Taiga</p>
          <p class="biome">Old Growth Pine Taiga</p>
          <p class="biome">Old Growth Spruce Taiga</p>
          <p class="biome">Stony Shore</p>
        </details>
        <details class="biome-toggle">
          <summary class="biome-type">Temperate biomes</summary>
          <p class="biome">Plains</p>
          <p class="biome">Sunflower Plains</p>
          <p class="biome">Forest</p>
          <p class="biome">Flower Forest</p>
          <p class="biome">Birch Forest</p>
          <p class="biome">Old Growth Birch Forest</p>
          <p class="biome">Dark Forest</p>
          <p class="biome">Swamp</p>
          <p class="biome">Mangrove Swamp</p>
          <p class="biome">Jungle</p>
          <p class="biome">Sparse Jungle</p>
          <p class="biome">Bamboo Jungle</p>
          <p class="biome">Beach</p>
          <p class="biome">Mushroom fields</p>
          <p class="biome">Meadow</p>
          <p class="biome">Stony Peaks</p>
        </details>
        <details class="biome-toggle">
          <summary class="biome-type">Warm biomes</summary>
          <p class="biome">Desert</p>
          <p class="biome">Savanna</p>
          <p class="biome">Savanna Plateau</p>
          <p class="biome">Windswept Savanna</p>
          <p class="biome">Badlands</p>
          <p class="biome">Wooded Badlands</p>
          <p class="biome">Eroded Badlands</p>
        </details>
        <details class="biome-toggle">
          <summary class="biome-type">Aquatic biomes</summary>
          <p class="biome">River</p>
          <p class="biome">Frozen River</p>
          <p class="biome">Ocean</p>
          <p class="biome">Lukewarm Ocean</p>
          <p class="biome">Deep Lukewarm Ocean</p>
          <p class="biome">Warm Ocean</p>
          <p class="biome">Deep Ocean</p>
          <p class="biome">Cold Ocean</p>
          <p class="biome">Deep Cold Ocean</p>
          <p class="biome">Frozen Ocean</p>
          <p class="biome">Deep Frozen Ocean</p>
        </details>
        <details class="biome-toggle">
          <summary class="biome-type">Cave biomes</summary>
          <p class="biome">Deep Dark Cave</p>
          <p class="biome">Dripstone Caves</p>
          <p class="biome">Lush Caves</p>
        </details>
        <details class="biome-toggle">
          <summary class="biome-type">Neutral biomes</summary>
          <p class="biome">The Void</p>
        </details>
        <details class="biome-toggle">
          <summary class="biome-type">Nether biomes</summary>
          <p class="biome">Nether Wastes</p>
          <p class="biome">Soul Sand Valley</p>
          <p class="biome">Crimson Forest</p>
          <p class="biome">Warped Forest</p>
          <p class="biome">Basalt Deltas</p>
        </details>
        <details class="biome-toggle">
          <summary class="biome-type">The End biomes</summary>
          <p class="biome">The End</p>
          <p class="biome">Small End Islands</p>
          <p class="biome">End Midlands</p>
          <p class="biome">End Highlands</p>
          <p class="biome">End Barrens</p>
        </details>
        
        
      </div>
    </div>

  </body>
  
</html>
