<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="items-container">
        <div class="items-list">
          <h2>Blocks</h2>
          
          <p class="item">I came to the realisation that it would take too much time to individually filter every single block, but for the sake of the homepage aesthetic I have kept the 'Blocks' button and page</p>
         
        </div>
      </div>

</body>
</html>