<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="items-container">
        <div class="credits">
        <a class="credits-button" href="https://twitter.com/lifguson1" target="_blank"><img src="twitter-logo.png" class="socials-icon twitter-logo"><p>Twitter</p></a>
        <a class="credits-button" href="https://github.com/Lifguson" target="_blank"><img src="github-logo.png" class="socials-icon github logo"><p>Github</p></a>
    </div>  
    </div>
  </body>
</html>
