<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="items-container">
        <a class="media-links" href="https://twitter.com/lifguson1" target="_blank"><img src="twitter-logo.png" alt="Twitter logo" width="75" height="75"><h3>Twitter</h3></a>
        <a class="media-links" href="https://github.com/Lifguson" target="_blank"><img src="github-logo.png" alt="Github logo" width="75" height="75"><h3>Github</h3></a>
    </div>
  </body>
</html>
