<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="items-container">
        <div class="items-list">
          <h2>Foods</h2>
          <% items.filter(item => item.type == 39).forEach((item) => { %>
          <p class="item"><%= item.name %></p>
          <% }) %>
        </div>
      </div>

</body>
</html>