<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

<body class="home-body" onload="move('home-title')">

  <script>
    function playAudio(url) {
      new Audio(url).play();
    }
  </script>

  <div class="body-container">
    <img src="logo.png" class="home-title" id="home-title">

    <div class="home-buttons">
      <a class="button" href="/items" onclick="playAudio('../minecraft_click.mp3')">Items</a>
      <a class="button" href="/blocks" onclick="playAudio('minecraft_click.mp3')">Blocks</a>
      <a class="button" href="/mobs" onclick="playAudio('minecraft_click.mp3')">Mobs</a>
      <a class="button" href="/foods" onclick="playAudio('minecraft_click.mp3')">Foods</a>
      <a class="button" href="/biomes" onclick="playAudio('minecraft_click.mp3')">Biomes</a>
    </div>

    <div class="extra-buttons">
      <a class="button" href="/options" onclick="playAudio('minecraft_click.mp3')">Credits</a>
    </div>
    
  </div>
</body>
</html>
