<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

<body class="home-body">
  <div class="container">
    <div class="home-buttons">
      <a class="button" href="/items">Items</a>
      <a class="button" href="/blocks">Blocks</a>
      <a class="button" href="/mobs">Mobs</a>
      <a class="button" href="/foods">Foods</a>
      <a class="button" href="/biomes">Biomes</a>
    </div>
    <div class="extra-buttons">
      <a class="button" href="/options">Options</a>
    </div>
  </div>
</body>
</html>
