<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>

  <div class="items-list">
    <h2>Items</h2>

      <% if (items.length > 0) { %>
        <% items.forEach(item => { %>
          <p class="item-name"><% item.name %></p>
        <% }) %>
      <% } else { %>
        <p>There are no items to display</p>
      <% } %>

  </div>


</body>
</html>