<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="items-container">
        <div class="items-list">
          <h2>Mobs</h2>

        <% const mobsRangeFilter = Array.from(new Array(71), (x, i) => i+50); %>
        <% const mobsArray = [4, 5, 27, 28, 29, 31, 32].concat(mobsRangeFilter); %>

        <% const mobsFilteredArray = entities.filter((entity) => { %>
          <% return mobsArray.some((m) => { %>
            <% return m === entity.type; %>
          <% }); %>
        <% }) %> 

          <% mobsFilteredArray.forEach((entity) => { %>
            <p class ="item"><%= entity.name %></p>
            <% }) %>

        </div>
      </div>

</body>
</html>