<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="items-container">
        <div class="items-list">
          <h2>Mobs</h2>

          

          <% items.forEach((item) => { %>
          <p class="item"><%= item.name %></p>
          <% }) %>

        </div>
      </div>

</body>
</html>