@font-face {
  src: url(fonts/Minecraft-Regular.ttf);
  font-family: minecraft;
}

.home-title {
  overflow: hidden;
  margin-bottom: -4rem;
}

.home-title:hover {
  transition: transform 2s;
  transform: rotate(360deg);
}

body.home-body {
  background-color: black;
  background-image: url("mc-wallpaper-cave.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

body {
  background-color: black;
  background-image: url("dirt-background.png");
  background-position: center center;
  background-attachment: fixed;
  background-size:contain;
  overflow:hidden;
  margin: 0;
}

.body-container {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: minecraft;
}

/* main menu buttons */
.home-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  margin-bottom: 3rem;
}

.button {
  background: #727272;
  color: rgb(247, 247, 247);
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8);
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.05em;
  border: 2px solid rgba(0, 0, 0, 1);
  box-shadow: inset 3px 3px 0 rgba(255, 255, 255, 0.5),
    inset -3px -3px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition-duration: 0.4s;
}

.button:hover {
  background: rgba(115, 107, 221, 1);
}

.button:active {
  transform: translateY(5px);
}

/* back button */
.back-container {
  height: 17.5vh;
  margin-top: 82.5vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: minecraft;
  position: absolute; bottom: 5px;
}

.extra-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

/* nav, aka background applied to every page except home */
nav {
  background-color: black;
  background-image: url("dirt-background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  font-family: minecraft;
}

.items-container {
  background-image: url("dirt-background-blurred.png");
  background-position: center;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  width: 100%;
  height: 70vh;
  margin: auto;
  margin-top: 10vh;
  justify-content: center;
  align-items: center;
  font-family: minecraft;
  position: relative;
}

.items-list {
  margin:auto;
  width: 75vh; 
  height: 70vh; 
  overflow: auto;
  text-align:center;
  position: relative;
  color: rgb(247, 247, 247);
}

.item:hover {
  color: grey;
}

.blocks-paragraph {
  letter-spacing: 1px;
  word-spacing: 3px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 17.5px;
}

::-webkit-scrollbar-track {
  background: rgb(247, 247, 247);
  box-shadow: inset 0 0 5px black;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-style: ridge;
  border-color: grey;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* biomes page */
.biome-toggle {
  padding: 5px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.biome-type {
  text-align: center;
  position: relative;
  margin: auto;
  padding: 5px;
  /* border: 4px solid black; */
  transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}

.biome-type:hover {
  /* box-shadow: 0 0 5px white;
  text-shadow: 0 0 5px white; */
  /* animation: 2s clockwise infinite; */
  color: black;
  box-shadow: inset 800px 0 0 0 darkgrey;
}

.biome:hover {
  color: grey;
}

/* 404 page */
.not-found-container {
  background-color: rgb(157, 157, 157);
}

.not-found-content {
  font-family: minecraft;
  margin:auto;
  width: 45vh; 
  height: 70vh; 
  text-align:center;
  position: relative;
  color: black
}

/* credits page - social media links */

.credits {
  margin:auto;
  overflow: auto;
  text-align:center;
  position: relative;
}

.credits-button {
  position: relative;
  text-align: center;
  color: white;
  font-size: 15px;
  display: inline-block;
  padding-inline: 10px;
  padding-top: 25vh;
}

.credits-button:hover {
  color: grey;
}

.socials-icon {
  height: 50px;
  width: 50px;  
}