@font-face {
  src: url(fonts/Minecraft-Regular.ttf);
  font-family: minecraft;
}

nav {
  background-color: black;
  background-image: url("dirt-background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  font-family: minecraft;
}

.nav-footer {
  width: 3rem;
  height: 1rem;
  border: 1rem;
  background-color: black;
}

body.home-body {
  background-color: black;
  background-image: url("mc-background.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

body {
  background-color: black;
  background-image: url("dirt-background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: minecraft;
}

.back-container {
  height: 17.5vh;
  margin-top: 82.5vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: minecraft;
  background-color: black;
  opacity: 50%;
}

.home-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.button {
  background: #727272;
  color: rgb(247, 247, 247);
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8);
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.05em;
  border: 2px solid rgba(0, 0, 0, 1);
  box-shadow: inset 3px 3px 0 rgba(255, 255, 255, 0.5),
    inset -3px -3px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition-duration: 0.4s;
}

.extra-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.button:hover {
  background: rgba(115, 107, 221, 1);
}
